# String Function
-----------------

In [2]:
message = 'hI weLCOme PyTHon'

print(message)

hI weLCOme PyTHon

In [7]:
print(message.upper())

print(message.lower())

print(message.title())

print(message.capitalize())

HI WELCOME PYTHON
hi welcome python
Hi Welcome Python
Hi welcome python

In [11]:
# Count

message = 'hi welcome python'

print(message.count('o'))

# Find

print(message.find('o'))

print(message.find('python'))

2
7
11

In [17]:
gmail = input('Enter your gmail : ')

print(gmail)

userName = gmail[0:gmail.find('@')]

print(userName)

Enter your gmail :  harshitha@gmail.com

harshitha@gmail.com
harshitha

In [31]:
# Strip

mobile = '9500912258'

mobileOtp = mobile[6:10]

print('Mobile OTP : ', mobileOtp)

otpnum = 'XXXXXX2258'

print(otpnum)

# Lstrip

print(otpnum.lstrip('X'))

otpnum = '9500XXXXXXX'

print(otpnum)

# Rstrip

print(otpnum.rstrip('X'))

# Strip

name = '   Sara    '

print(name)

print(len(name))

removeSpace = name.strip()

print(removeSpace)

print(len(removeSpace))

name = '####Sara####'

print(name)

print(len(name))

removeSpace = name.strip('#')

print(removeSpace)

print(len(removeSpace))

Mobile OTP :  2258
XXXXXX2258
2258
9500XXXXXXX
9500
   Sara
11
Sara
4
####Sara####
12
Sara
4

In [5]:
msg = 'hi welcome python'

print(msg)

# Starts With

print(msg.startswith('hi'))

# Ends With

print(msg.endswith('on'))

hi welcome python
True
True

# List 
------

In [9]:
age = [10, 20, 30, 40, 50, 'Sara']

print(age, type(age))

print(age[2])

[10, 20, 30, 40, 50, 'Sara'] <class 'list'>
30

# Split lines
-------------

In [10]:
para = '''The Para (Special Forces) (Para SF) are India's elite special forces, 
operating under the Parachute Regiment of the Indian Army, 
known for missions in counter-terrorism, hostage rescue, deep reconnaissance, 
and unconventional warfare, symbolized by their maroon beret and Balidan Badge, 
representing the toughest soldiers for the most dangerous, 
deep-penetration operations behind enemy lines'''

print(para)

The Para (Special Forces) (Para SF) are India's elite special forces,
operating under the Parachute Regiment of the Indian Army,
known for missions in counter-terrorism, hostage rescue, deep reconnaissance,
and unconventional warfare, symbolized by their maroon beret and Balidan Badge,
representing the toughest soldiers for the most dangerous,
deep-penetration operations behind enemy lines

In [11]:
paraList = para.splitlines()

print(paraList)

["The Para (Special Forces) (Para SF) are India's elite special forces, ", 'operating under the Parachute Regiment of the Indian Army, ', 'known for missions in counter-terrorism, hostage rescue, deep reconnaissance, ', 'and unconventional warfare, symbolized by their maroon beret and Balidan Badge, ', 'representing the toughest soldiers for the most dangerous, ', 'deep-penetration operations behind enemy lines']

In [12]:
print(paraList[2])

known for missions in counter-terrorism, hostage rescue, deep reconnaissance,

# Split
-------

In [13]:
nameValues = 'sara, lara, thara, sam, ram'

print(nameValues, type(nameValues))

sara, lara, thara, sam, ram <class 'str'>

In [14]:
splitName = nameValues.split(', ')

print(splitName, type(splitName))

['sara', 'lara', 'thara', 'sam', 'ram'] <class 'list'>

In [15]:
print(splitName[2])

thara

In [16]:
nameValues = 'sara/ lara/ thara/ sam/ ram'

print(nameValues, type(nameValues))

splitName = nameValues.split('/ ')

print(splitName, type(splitName))

print(splitName[2])

sara/ lara/ thara/ sam/ ram <class 'str'>
['sara', 'lara', 'thara', 'sam', 'ram'] <class 'list'>
thara

# Join
------

In [19]:
nameValues = ['sara', 'lara', 'thara', 'sam', 'ram']

print(nameValues, type(nameValues))

joinName = ' - '.join(nameValues)

print(joinName, type(joinName))

['sara', 'lara', 'thara', 'sam', 'ram'] <class 'list'>
sara - lara - thara - sam - ram <class 'str'>

ToDay Task:
-----------

Q1. To write the Python code for below Output

Output:
-------

Enter your Name : sara

Enter your Dob : 18/07/1999

Hi Sara your age is 27