# Tuple
-------

1. Tuple is a collection of data type
2. Declare - ( )
3. It can store multiple values and diffrent datatype values in a single variable Based on index
4. Tuple is a immutable

In [1]:
nameValue = ('Sara', 'Lara', 'Thara')

print(nameValue, type(nameValue))

('Sara', 'Lara', 'Thara') <class 'tuple'>

In [6]:
print(nameValue[1])

nameValue = list(nameValue)

print(nameValue, type(nameValue))

nameValue[1] = 10

print(nameValue, type(nameValue))

Lara
['Sara', 'Lara', 'Thara'] <class 'list'>
['Sara', 10, 'Thara'] <class 'list'>

# Type Casting
--------------

In [5]:
total = 350

average = 90.5

print(total, type(total))

print(average, type(average))

print('----------------------------------')

total = float(total)

average = int(average)

print(total, type(total))

print(average, type(average))

350 <class 'int'>
90.5 <class 'float'>
----------------------------------
350.0 <class 'float'>
90 <class 'int'>