# Set
-----

1. Set is a collection of data type
2. Declare - { }
3. It can store multiple values and diffrent datatype values in a single variable. Could not Based on index
4. Set is a mutable
5. Set Remove Duplicate Values

In [1]:
details = {10, 'Sara', 27, 'Male', True, 10, 'Sara', 27}

print(details, type(details))

{True, 'Male', 'Sara', 10, 27} <class 'set'>

# Add

In [5]:
details = {10, 'Sara', 27}

print(details)

details.add('Male')

print(details)

{'Sara', 10, 27}
{'Sara', 10, 27, 'Male'}

# Update

In [8]:
details01 = {10, 'Sara', 27}

details02 = {'male', 9500912258}

print(details01)

print(details02)

print('-------------------------------')

details01.update(details02)

print(details01)

{'Sara', 10, 27}
{'male', 9500912258}
-------------------------------
{'male', 9500912258, 'Sara', 10, 27}

# Remove

In [10]:
details = {10, 'Sara', 27}

print(details)

details.remove('Sara')

print(details)

details.remove('male')

{'Sara', 10, 27}
{10, 27}

KeyError: 'male'

# Discard

In [12]:
details = {10, 'Sara', 27}

print(details)

details.discard('Sara')

print(details)

details.discard('male')

{'Sara', 10, 27}
{10, 27}

# Union

In [14]:
v1 = {1, 2, 3, 4, 5, 6}

v2 = {5, 6, 7, 8, 9, 10}

answer = v1.union(v2)

print(answer)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Intersect

In [16]:
v1 = {1, 2, 3, 4, 5, 6}

v2 = {5, 6, 7, 8, 9, 10}

answer = v1.intersection(v2)

print(answer)

{5, 6}

# Symmetric Difference

In [19]:
v1 = {1, 2, 3, 4, 5, 6}

v2 = {5, 6, 7, 8, 9, 10}

answer = v1.symmetric_difference(v2)

print(answer)

{1, 2, 3, 4, 7, 8, 9, 10}

ToDay Work
----------

Q1. To Write the Python Code for below output

listDetails = [10, 'Sara', 27, 'Male', True, 10, 'Sara', 27]

Output:

{True, 'Male', 'Sara', 10, 27}

{True, 'Sara', 10, 27}

[True, 'Sara', 10, 27]

Id : 10

Name : Sara

Age : 27

Marital Status : Yes

Birth Year : 1999